select {
  margin: 50px;
  border: 1px solid #111;
  background: transparent;
  width: 200px;
  padding: 5px 35px 5px 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  height: 34px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("../images/favicon.ico") 96% / 15% no-repeat #eee;
}